.navBar{
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    width: 100%;
    background-color: rgb(156, 13, 25);

    padding-bottom: 50px;
    padding-top: 50px;
}

.navLogo{
    font-size: 40px;
    font-style: italic;
    background-color: rgb(60, 206, 67);
    color: black;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
}

.navList{
    display: flex;
    flex-flow: row nowrap;
}

.navList a{
    margin-right: 20px;
    margin-left: 20px;

    font-size: 25px;
    color: rgb(3, 2, 51);
    background-color: rgb(29, 207, 6);
    align-self: center;
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
}

.dropdownList{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    width: 160px;
    text-align: left;
    border-radius: 30px;
}

.dropdownItems a{
    background-color: rgb(0, 0, 0);
    color: rgb(155, 238, 162);
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    margin-right: 20px;
    height: 30px;

}

.dropdownItems{
    width: 100%;
    height: 20px;
}

.dropdownItems a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(156, 13, 25)
}

.displayIf{
    display: none;
}


